<nav class="nav">
    <div class="nav__logo">
        <div class="logo">
            <a href="index.html" class="logo__img">belova<br>design<br>.ru</a>
        </div>
    </div>
    <div class="nav-list">
        <div class="nav-list__item">
            <a href="#" class="nav-list__link">Контакты</a>
        </div>
        <div class="nav-list__item">
            <a href="#" class="nav-list__link">Резюме</a>
        </div>
        <div class="nav-list__item">
            <a href="#" class="nav-list__link">Портфолио</a>
        </div>
    </div>
</nav>