.nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 136px;
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    transform: rotate(-90deg);
}

.nav-list__item {
    display: block;
}